<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/style.css}"/>

</head>
<body>
<h1>Users</h1>
<div>
    <table border="1">
        <tr>
            <th>User firstname</th>
            <th>User lastname</th>
            <th>Login</th>
        </tr>

        <tr th:each="eachuser: ${userModel}">
            <td th:utext="${userModel.getFirstname()}"></td>
            <td th:utext="${userModel.getLastname()}"></td>
            <td th:utext="${userModel.getUsername()}"></td>
        </tr>
    </table>
    <br/>
    <a href="/logout">Logout</a>
</div>
</body>
</html>